name: Deploy Frontend

on:
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
      build_command:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      NODE_AUTH_TOKEN: 
        required: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    container:
      image: node:${{ inputs.node_version }}
    environment:
      name: ${{ inputs.environment }}
      url: ${{ inputs.deploy_url }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install Dependencies
        uses: it-incubator/ci-cd-pipelines/.github/actions/manage-packages@master
        with:
          command: install

      - name: Build project
        uses: it-incubator/ci-cd-pipelines/.github/actions/manage-packages@master
        with:
          command: ${{ inputs.build_command }}
      # - name: Preparing .npmrc
      #   run: |
      #     ls -ltr
      #     pwd
      #     chmod +x preparing.sh
      #     ./preparing.sh $NPM_ACCESS_TOKEN
      #   env:
      #     NPM_ACCESS_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          
      - name: Publish
        run: pnpm release
